.popup__close-button {
  background-image: url(../../../images/Close_Icon.svg);
  width: 32px;
  height: 32px;
  background-color: transparent;
  padding: 0;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s;
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

@media (max-width: 560px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
