.profile__edit {
  background-image: url(../../../images/Edit.svg);
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: 1px solid #ffff;
  margin-top: 16px;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  transition: opacity 0.3s;
}

.profile__edit:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

@media (max-width: 700px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    margin-top: 9px;
  }
}
